<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <center>
    <h1><img width="400" height="200" src='/static/images/logo_site.png'></h1>
    <form action="/searchresultpage_adv/" method="GET">
    Geavanceerd zoeken
        <table>
        <tr><td>Abstract</td>
            <td><input class="advanced" type="text" name="Abstract"></td>
        </tr><tr>
            <td>Author</td>
            <td><input class="advanced" type="text" name="Author" align="right"></td>
        </tr><tr>
            <td>Year</td>
            <td><input class="advanced" type="text" name="Year" align="right"></td>
        </tr><tr>
            <td></td>
            <td><button class='button' type="submit" value="Zoek" align="right"><span>.Ga</span></button></td>
        </tr>
        <table>
    </form>
</body>



</html>
