<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <h1>Enter some text to search through the database!</h1>
    <form action="/searchresultpage" method="GET">
        <input type="text" name="query">
        <input type="submit" name="my-form" value="ga">
    </form>
    <br>

    {%if result is not string %}
        {% for r in result %}
        <table width=70% align="left">
          <tr>
            <th colspan="3">
                {% if r['_source']['Title']|length > 80  %}
                    <a href="{{ r['_source']['Download'] }}">{{ r['_source']['Title'][:80] }}...</a>
                {% else %}
                    <a href="{{ r['_source']['Download'] }}">{{ r['_source']['Title'] }}</a>
                {%endif%}
            </th>
          </tr>
          <tr>
            <td colspan="3">
                {% if r['_source']['Abstract'] %}
                    {{ r['_source']['Abstract'][:500] }}
                {% else %}
                    No abstract found.
                {% endif %}
            </td>
          </tr>
          <tr>
            <td>
            {{ r['_source'][' Author'] }}
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <br>
        {% endfor %}
    {%endif%}

</body>
</html>
