<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <form action="/searchresultpage" method="GET">
    <img src="/static/images/Pinda.png" alt="Pinda" align="middle">
        <input type="text" name="query">
        <button class='button' type="submit" name="my-form" value="ga" placeholder="kaas"><span>.Ga</span></button>
    </form>
    <br>



    {%if result is not string %}
    <div id="sidebar">
        <table>
            <tr>
                <td>Faculteit</td>
            </tr>
                {% for key, value in result[0].items() %}
                <tr>
                    <td><input type="radio" name='fac'></td>
                    <td>{{key}} ({{value}})</td>
                </tr>
                {% endfor %}
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><button value="filter">filter</button></td>
            </tr>
        </table>
        <img src="data:image/png;base64,{{histogram}}"/>

    </div>

        {% for r in result %}
        {% if loop.index > 1 %}
        <table width=75% align="left" frame="box">
          <tr>
            <th colspan="3">
                {% if r['_source']['Title']|length > 80  %}
                    <a href="{{ r['_source']['Download'] }}">{{ r['_source']['Title'][:80] }}...</a>
                {% else %}
                    <a href="{{ r['_source']['Download'] }}">{{ r['_source']['Title'] }}</a>
                {%endif%}
            </th>
          </tr>
          <tr>
            <td colspan="2">
                {% if r['_source']['Abstract'] %}
                    {{ r['_source']['Abstract'][:500] }}
                {% else %}
                    No abstract found.
                {% endif %}
                </td><td colspan="1">
                    {% if r['_source']['Abstract'] %}
                    <img src="data:image/png;base64,{{r['_source']['wordcloud']}}"/>

                    {% endif %}
                </td>
            </td>
          </tr>
          <tr>
            <td>
            Auteur: {{ r['_source'][' Author'] }}
            </td>
            <td>Jaar: <a href="/searchresultpage_adv/?Year={{r['_source']['Year']}}&my-form=Zoek">{{ r['_source']['Year'] }}</a></td>
            <td>Begeleider(s): <a href="/searchresultpage_adv/?Supervisor={{r['_source']['Supervisor']}}&my-form=Zoek">{{ r['_source']['Supervisor'] }}</a></td>
          </tr>
        </table>
        <br>
        {% endif %}
        {% endfor %}

    {%endif%}

</body>
</html>
