<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<center>
<body>
    <h1><img width="400" height="200" src='/static/images/logo_site.png'></h1>
    <form action="/searchresultpage" method="GET">
		<img src="/static/images/Pinda.png" alt="Pinda" align="middle">
        <input type="text" name="query">
        <button class='button' type="submit" value="Send" placeholder="kaas"><span>.Ga</span></button>
        <br><a href="/advanced-search.html">Geavanceerd zoeken</a>
    </form>
</body>
</center>


</html>
